:root {
  --white-clr: #ffffff;
  --light-clr: #f3f3f4;
  --gray-clr: #a7b1c2; /* text sidebar */
  --light-gray-clr: #f3f6fa;
  --light-green-clr: #1ab392;
  --dark-green-clr: #18a689;
  --dark-blue-clr: #2f4050; /* background sidebar */
  --dark: #263948; /* background sidebar header y subitems */
  --text-clr: #676a6c;
  --sidebar-width: 13.75rem;
}
/* --- Ordenar --- */
#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  background: var(--dark-blue-clr);
  transition: all .3s;
  color: var(--gray-clr);
}
#sidebar.active {
  margin-left: calc(var(--sidebar-width) * -1);
}
#sidebar .sidebar-header {
  padding: 20px;
  background: #4a87bb;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #cfd8dd;
}
#sidebar ul p {
  color: #fff;
}
#sidebar ul li a {
  padding: 10px;
  display: block;
}
#sidebar ul li a:hover {
  color: #4a87bb;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}
a[data-toogle="collapse"] {
  position: relative;
}
.dropdown-toogle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
}
ul ul a {
  font-size: .9em;
  padding-left: 30px;
  background: #6d7fcc;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -220px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
/* Globals */
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  background-color: var(--light-clr);
  color: var(--text-clr);
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all;
}
.wrapper {
  display: flex;
}
#content {
  width: 100%;
  padding: 0 1rem;
  min-height: 100vh;
  transition: all .3s;
}
/* --- Collapse Button Style --- */
.navbar--collapse {
  padding: 1rem .5rem;
}
/* --- Button Style --- */
.btn-bg {
  background-color: var(--light-green-clr);
  border-color: var(--light-green-clr);
  color: var(--white-clr);
  outline: none;
}
.btn-bg:hover {
  background-color: var(--dark-green-clr);
  border-color: var(--dark-green-clr);
  color: var(--white-clr);
  outline: none;
  box-shadow: none;
}
.btn-bg:focus {
  background-color: var(--dark-green-clr);
  border-color: var(--dark-green-clr);
  color: var(--white-clr);
  outline: none;
  box-shadow: none;
}
.btn-bg:active {
  background-color: var(--dark-green-clr);
  border-color: var(--dark-green-clr);
  color: var(--white-clr);
  outline: none;
  box-shadow: none;
}
.btn-bg.active {
  background: var(--dark-green-clr);
}
/* --- Components Styles --- */
.content--container {
  padding: 1.875rem 1rem;
}
.content--container-bg {
  background: var(--light-gray-clr);
}
.section--container {
  width: 100%;
  padding: 1rem 1.25rem;
  background: var(--white-clr);
  margin-bottom: 1.25rem;
}
.section--container:last-of-type {
  margin-bottom: 0;
}
.section--title {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}
/* --- Option Buttons Styles --- */
.option--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0 0;
}
.option--container-center {
  justify-content: center;
}
.option--item {
  display: inline-block;
  margin-right: 1rem;
}
.option--item:last-of-type {
  margin-right: 0;
}
/* --- Table Styles --- */
.table--container {
  position: relative;
  width: 100%;
  max-height: 17.9375rem;
  /* max-width: 62.875rem; */
  margin-top: 1.5rem;
  overflow: scroll;
}
.table--row.head {
  position: sticky;
  top: 0;
  font-weight: 700;
  background-color: var(--white-clr);
}
.table--row.body:nth-of-type(2n+1) {
  background: #f9f9f9;
}
.table--item {
  margin: 0;
  border: 1px solid #ebebeb;
  border-right: none;
  padding: .5rem;
  font-size: .9rem;
}
.table--item:last-of-type {
  border-right: 1px solid #ebebeb;
}
.table--item.body {
  border-top: none;
  text-align: center;
  padding: 1.25rem 0.625rem;
}
.min-row-width {
  min-width: 20.375rem;
}
/* --- Project Container --- */
.project--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: .5rem 1rem;
  padding-top: 1rem;
}
.project--item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: .9rem;
}
.project--item:nth-of-type(1) {
  grid-column: 1 / span 3;
}
.project--item:nth-of-type(2) {
  grid-column: 4 / span 1;
}
.project--item:nth-of-type(3) {
  grid-column: 1 / span 1;
}
.project--item:nth-of-type(4) {
  grid-column: 2 / span 3;
}
.project--item:nth-of-type(5) {
  grid-column: 1 / span 3;
}
.project--item:nth-of-type(6) {
  grid-column: 4 / span 1;
}
.project--item-label {
  min-width: 6.18rem;
  margin: 0 .5rem 0 0;
  font-weight: 700;
}
.project--item-value {
  margin: 0;
  padding: .5rem;
  background-color: var(--light-gray-clr);
  border: 1px solid var(--light-clr);
  flex: 1 1 0;
}
.project--item .icon {
  display: block;
  margin-left: .5rem;
  color: var(--text-clr);
}
/* --- Route Section --- */
.route--row {
  display: grid;
  grid-template-columns: 7.5rem 12.5rem 7.5rem auto repeat(2,7.5rem);
}
/* --- Stretch Section --- */
.stretch--row {
  display: grid;
  grid-template-columns: 7.5rem 12.5rem auto repeat(2,7.5rem);
}
